body{
    position: relative;
    height: 100vh;
    width: 100vw;
}
.circle{
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    /* border: 1px solid red; */
    transition: 0.3s;
    box-shadow: rgba(238, 74, 74, 0.65) 0px 2px 8px;
}